.banner {
  text-align: center;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
}
.banner h1 {
  margin-bottom: 2rem;
  padding: 0 1rem;
  letter-spacing: 6px;
}

@media screen and (min-width: 768px) {
  .banner h1 {
    font-size: 2rem;
  }
  .banner p {
    width: 70%;
  }
}
